[submodule "pyopenjtalk"]
	path = pyopenjtalk
	url = https://github.com/r9y9/pyopenjtalk
	branch = master
[submodule "hts_engine_API"]
	path = hts_engine_API
	url = https://github.com/r9y9/hts_engine_API.git
	branch = master
